<!DOCTYPE>
<head>
    <meta charset="utf-8">
    <link href="../css/modalLogin.css" type="text/css" rel="stylesheet">
    <script src="../js/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="../js/login.js"></script>
</head>
<body onload="borrartodo()">
    <center>
        <h1>Log in in our page of write faster!</h1>
        <table>
            <tr>
                <td>
                    Username<input type="text" name="userid" id="userid" placeholder="Ingrese usuario">
                </td>
            </tr>
            <tr>
                <td>
                    Password<input type="password" name="pswrd" id="userpsw" placeholder="Ingrese contraseña">
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td><input type="button" value="Register" onclick="onClickRegister()" id="btnRegister" class="btnRegister" id="btnRegister"></td>
                <td><input type="button" onclick="window.open('../template/index.html')" value="Login"/></td>
                <td><input type="reset" value="Cancel" onclick="borrartodo()"></td>
            </tr>
        </table>
    </center>
</body>